<div class="page-header">
    <h1>{{name}}</h1>
</div>

    {{#if uses}}
    <div class="uses">
        Uses
        <ul class="inline commas">
            {{#uses}}
                <li><a href="{{.}}.html">{{.}}</a></li>
            {{/uses}}
        </ul>
    </div>
    {{/if}}

    {{#if extends}}
    <div class="extends">
        Extends {{#crossLink extends}}{{/crossLink}}
    </div>
    {{/if}}

    {{#if module}}
	<div class="module-name">
        {{#if submodule}}
            Module: {{#crossLinkModule submodule}}{{/crossLinkModule}}<br>
            Parent Module: {{#crossLinkModule module}}{{/crossLinkModule}}
        {{else}}
            Module: {{#crossLinkModule module}}{{/crossLinkModule}}
        {{/if}}
    </div>
    {{/if}}

    {{#if since}}
        <p>Available since {{since}}</p>
    {{/if}}

{{#if deprecated}}
    <p>
    {{#if deprecationMessage}}
        <strong>Deprecated:</strong> {{deprecationMessage}}
    {{else}}
        This class is deprecated.
    {{/if}}
    </p>
{{/if}}

{{#if classDescription}}
    <div class="yuidoc-class-description">
        {{{classDescription}}}
    </div>
{{/if}}

<!-- table of contents -->

<div id="class-toc" class="page-section">
	<h2>Table of Contents</h2>
    <ul>
		{{#hasInstanceMethods methods}}
		<li>
			<strong>Methods</strong>
			<ul>
				{{#methods}}
				{{#if static}}
				{{else}}
				<li><a href="#method-{{name}}"><span class="im">{{name}}</span>({{#params}}<span class="ia">{{name}}</span>{{/params}})</a></li>
				{{/if}}
				{{/methods}}
			</ul>
		</li>
		{{/hasInstanceMethods}}

		{{#if properties}}
		<li>
			<strong>Properties</strong>
			<ul>
				{{#properties}}
				<li><a href="#prop-{{name}}"><span class="ip">{{name}}</span></a></li>
				{{/properties}}
			</ul>
		</li>
		{{/if}}

		{{#if attrs}}
		<li>
			<strong>Attributes</strong>
			<ul>
				{{#attrs}}
				<li><a href="#attr-{{name}}"><span class="iattr">{{name}}</span></a></li>
				{{/attrs}}
			</ul>
		</li>
		{{/if}}

		{{#hasStaticMethods methods}}
		<li>
			<strong>Static Methods</strong>
			<ul>
				{{#methods}}
				{{#if static}}
				<li><a href="#method-{{name}}"><span class="im">{{class}}.{{name}}</span>({{#params}}<span class="ia">{{name}}</span>{{/params}})</a></li>
				{{/if}}
				{{/methods}}
			</ul>
		</li>
		{{/hasStaticMethods}}
	</ul>
</div>

<!-- details -->

{{#is_constructor}}
    <div class="constructor yuidoc-class-constructor page-section">
        <h2>Constructor</h2>
        <div>
        {{>method}}
        </div>
    </div>
{{/is_constructor}}

{{#if properties}}
    <div id="properties" class="page-section">
        <h2>Properties</h2>

        <table id="properties-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {{#properties}}
                    {{>props}}
                {{/properties}}
            </tbody>
        </table>
        </div>
    </div>
{{/if}}

{{#if attrs}}
    <div id="attrs" class="page-section">
        <h2>Attributes</h2>

        {{#attrs}}
            {{>attrs}}
        {{/attrs}}
    </div>
{{/if}}

{{#hasStaticMethods methods}}
    <div id="static-methods" class="page-section hidden">
        <h2>Static Methods</h2>
        <div>
        {{#methods}}
            {{#if static}}
                {{>method}}
            {{/if}}
        {{/methods}}
        </div>
    </div>
{{/hasStaticMethods}}

{{#hasInstanceMethods methods}}
    <div id="methods" class="page-section">
        <h2>Methods</h2>
        <div>
            {{#methods}}
            {{#if static}}
            {{else}}
            {{>method}}
            {{/if}}
        {{/methods}}
        </div>
    </div>
{{/hasInstanceMethods}}

{{#if events}}
    <div id="events" class="page-section">
        <h2>Events</h2>

        {{#events}}
            {{>events}}
        {{/events}}
    </div>
{{/if}}
