<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{htmlTitle}}</title>
    <link rel="stylesheet" type="text/css" href="{{projectAssets}}/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{projectAssets}}/vendor/highlight/styles/github.css">
    <link rel="icon" type="image/png" href="http://localhost:5000/assets/favicon.png" />
</head>
<body>
    <header id="header">
        <h1>
            <img alt="{{projectName}}" src="{{projectAssets}}/img/logo.png" style="max-height: 65%;" title="{{projectName}}">
            Documentation
        </h1>
    </header>
    <section id="content">
        <aside id="sidebar">
            {{>sidebar}}
        </aside>
        <section id="layout-content">
            <div id="options">
                {{>options}}
            </div>
            {{>layout_content}}
        </section>
        <footer id="footer">
            <div class="inner">
                &copy; 2015 Dayton Nolan
            </div>
        </footer>
    </section>
    <script src="{{projectAssets}}/vendor/jquery/jquery-1.8.2.min.js"></script>
    <script src="{{projectAssets}}/vendor/lodash.js"></script>
    <script src="{{projectAssets}}/vendor/highlight/highlight.pack.js"></script>
    <script src="{{projectAssets}}/js/main.js"></script>
</html>
